<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3>Add Image</h3>
            <form>
               
                <div class="mb-3">
                    <label for="fees" class="form-label">Title</label>
                    <input type="text" class="form-control" id="fees" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Image</label>
                  <input type="file" class="form-control" id="image" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>