<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3>Add Projects</h3>
            <form #addProject="ngForm" (ngSubmit)="OnSubmitProjects(addProject.value)" >
                <div class="mb-3">
                    <label for="title" class="form-label">Projects</label>
                    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" ngModel>
                   
                </div>

                <div class="mb-3">
                  <label for="image" class="form-label">Image</label>
                  <input type="file" class="form-control" name="image" id="image" aria-describedby="emailHelp" ngModel>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" name="description" id="description" cols="30" rows="5" class="form-control" ngModel></textarea>
                    
                </div>
                
                <button type="submit" class="btn submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>