<app-user-nav></app-user-nav>
<app-logo></app-logo>
<div class="container my-5" >
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <h4>Contact <span class="text-danger">Us</span></h4><br>
            
            <div class="container">
                <div class="row d-flex">
                   <div class="col-4">
                        <img src="assets\slide-img.png" alt="" width="200px" height="150px">
                        <span><h5 class="text-danger">Email: </h5></span><span class="text-danger">ombansalshivshaktigmail.com</span>
                        <h5 class="text-danger">View Larger Map: </h5><span ><a href="" class="text-danger">Map</a></span>
                    </div>
                    <div class="col">
                        <h5>Agrawal Dharmshala, Udaipur</h5>
                        <ul>
                            <li><span class="text-danger">Address : </span> Hiralal Agrawal Marg, Hiran Magri Sector-11, Udaipur-313001 (Raj.)</li>
                            <li><span class="text-danger">Phone : </span>  0294 3570163</li>
                            <li><span class="text-danger">For Booking : </span> Om Bansal / Agrawal - +91 9829040849</li>
                            <li><span class="text-danger">Important Note: We do not have any other website or agency to book the rooms. Any bookings made by other than OM Bansal will be not volid and we will not be laible for it.</span> </li>
                            <li><span class="text-danger">For LPG Crematorium Booking : </span>  Nandu - +91 7014113955</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4 >How To Reach From :</h4>
                <div class="row">
                    <div class="col">
                        <p class="text-danger">Airport</p>
                        <p>(Distance from Udaipur Airport: 25.0 km)</p>
                    </div>
                    <div class="col">
                        <img src="" alt="img">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-danger">Railway Station</p>
                        <p>(Distance from Udaipur Railway Station: 2.0 km)</p>
                    </div>
                    <div class="col">
                        <img src="" alt="img">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-danger">Bus Stand</p>
                        <p>(Distance from Udaipur Bus Stand: 2.2 km)</p>
                    </div>
                    <div class="col">
                        <img src="" alt="img">
                    </div>
                </div>
                
            </div>

            <div class="row">
                <h4 >Other Distance :</h4>
                <ul>
                    <li>
                        <span class="text-danger">Distance from Gulab Bagh Zoo</span>(1.8 km)
                    </li>
                    <li>
                        <span class="text-danger">Distance from Dudh Talai</span>(1.8 km)
                    </li>
                    <li>
                        <span class="text-danger">Distance from City Palace</span>(1.8 km)
                    </li>

                </ul>

            </div>

            <div class="row my-5">
                <div class="col-6">
                    <h4>Feedback</h4>
                    <form action="">

                    </form>
                </div>
                <div class="col-6">
                    <h4>Map</h4>
                    <div></div>

                </div>
            </div>
           
 
        </div>
    </div>

  
    
</div>
<app-footer></app-footer>