.contact-icon {
    font-size: 26px;
    margin-bottom: 1rem;
    color: #dc3545;
}

.contact-text {
    font-size: 12px;
    color: #525252;
}

.contact-card {
    padding: 2rem;
    width: 300px;
}

small {
    color: #989898;
    font-size: 10px;
}

.image {
    max-width: 100%;
    width: 100%;
}