<app-user-nav></app-user-nav>
<app-logo></app-logo>
<div class="container my-5" >
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <h4>Other <span class="text-danger">Projects</span></h4><br>
            <div class="row">
                <h5>Welfare Activites for General Public</h5>
                <p>All the following welfare activities are open for all the sections of Society. There is no  discrimination on the  basis of Religion, Caste, Creed, Sex etc.</p>
            </div>

            <div class="container">
                <div class="row d-flex">
                    <h4 class="text-danger">Medical Camps</h4>
                    <div class="col">
                        <img src="assets\slide-img.png" alt="" width="200px" height="150px">
                    </div>
                    <div class="col">
                        <span>
                            (a) Free Medical Check Up Camps: Trust Organise Free Medical Check-Up Camps where  Qualified Doctors     provide Services  and Consultancy. It includes checkups  related with bone density, Breast Cancer, Uterus       Cancer,Testing of Blood Sugar, B.P. etc.

                            (b) Blood Donation Camps: Trust Organises Blood Donation Camps with  Help of Blood Bank of Local Medical       College from time to time so that  the Lives of Needy Person can be Saved.
                        </span>
                    </div>
                </div>

                <div class="row d-flex">
                    <h4 class="text-danger">Financial Help</h4>
                    <div class="col">
                        <img src="assets\slide-img.png" alt="" width="200px" height="150px">
                    </div>
                    <div class="col">
                        <span>
                            (a) Free Medical Check Up Camps: Trust Organise Free Medical Check-Up Camps where  Qualified Doctors     provide Services  and Consultancy. It includes checkups  related with bone density, Breast Cancer, Uterus       Cancer,Testing of Blood Sugar, B.P. etc.

                            (b) Blood Donation Camps: Trust Organises Blood Donation Camps with  Help of Blood Bank of Local Medical       College from time to time so that  the Lives of Needy Person can be Saved.
                        </span>
                    </div>
                </div>


            </div>

            <div class="row">
                <h4>Future Projects</h4>
                <ul>
                    <li class="text-danger">Old Age Home</li>
                    <li class="text-danger">Girls Hostel</li>
                </ul>
            </div>
 
        </div>
    </div>

  
    
</div>

<app-footer></app-footer>