<app-user-nav></app-user-nav>
<app-logo></app-logo>
<div class="container my-5" >
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <h4>Other <span class="text-danger">Projects</span></h4><br>
            <div class="row">
                <h5>Welfare Activites for General Public</h5>
                <p>All the following welfare activities are open for all the sections of Society. There is no  discrimination on the  basis of Religion, Caste, Creed, Sex etc.</p>
            </div>

            <div class="container" *ngFor="let item of ProjectsList">
                <div class="row d-flex py-3 ">
                    <h4 class="text-danger">{{item.title}}</h4>
                    <div class="col">
                        <img src={{item.image}} alt={{item.image}} width="200px" height="150px">
                    </div>
                    <div class="col">
                        <span>
                            {{item.description}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Future Projects</h4>
                <ul>
                    <li class="text-danger">Old Age Home</li>
                    <li class="text-danger">Girls Hostel</li>
                </ul>
            </div>
 
        </div>
    </div>

  
    
</div>

<app-footer></app-footer>