<div class="container">

    <ul class="nav flex-column" >
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard"><i class="fa-light fa-grid-horizontal"></i>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="member">Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="facility">Facility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="projects">Project</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="social-media" >Social Media</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      <li class="nav-item">
          <a class="btn">LoutOut</a>
          
        </li>
    </ul>
  </div>
  