<div class="container">
    <div class="row mb-3">
      <h3 style="color: white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><i class="bi bi-brightness-alt-high-fill" style="font-size: 50px;"></i> Dharmshala</h3>
    </div>

    <ul class="nav flex-column" >
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard"><i class="bi bi-pie-chart-fill"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="member"><i class="bi bi-people-fill"></i> Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="facility"><i class="bi bi-ui-checks"></i> Facility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery"><i class="bi bi-image"></i> Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="projects"><i class="bi bi-easel2"></i> Project</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="social-media" ><i class="bi bi-facebook"></i> Social Media</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="feedback" ><i class="bi bi-chat-quote-fill"></i> Feedback</a>
        </li>

       <li class="nav-item">
          <a class="nav-link" routerLink="about"><i class="bi bi-file-earmark-person"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sign-up"><i class="bi bi-person-fill-add"></i> Add Admin</a>
        </li>
      <li class="nav-item">
          <a class="btn" (click)="onLogOut()">Logout</a>
          
        </li>
    </ul>
  </div>
  