<!-- <app-user-nav></app-user-nav> -->
<div class="row">
  <app-logo></app-logo>

  <!-- welcome section -->
  <div class="container-fluid py-5 mb_5">
    <div class="container">
      <div class="row gap-5 mx-auto align-items-center justify-content-between">
        <div class="col-md-5 col-12">
          <div class="mb-5">
            <h4>Welcome to</h4>
            <h2 class="text_primary">
              Agrawal Dharmshala Udaipur
            </h2>
          </div>
          <div class="mb-5">
            <p>
              Established in 1992 Sh.Agrawal Sarvajanik Dharmshala is Located in Hiran Magri Sector-11, Udaipur
              (Latitude:
              24.57127 N, Longitude: 73.69154 E, 600 mt. above MSL). It is One of the Prestigious Project of Shri
              Agrasen
              Sahayata Kosh Trust Udaipur.
              <br> <br>
              It is Providing Facilities for Stay / Accommodation to Middle and Upper Middle
              Class Families. It has Proved to be the Best place for Stay of Barat, Seminar, Meetings and Group Stay for
              School Students etc.
            </p>
          </div>

          <a href="/trust" class="btn btn-primary">Read More</a>
        </div>

        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
            <img src="/assets/Images/dharamshala Image.png" alt="agrawal Dharamshala images" class="image shadow-sm">
        </div>
      </div>
    </div>
  </div>
  <!-- details -->
<div class="container-fluid pt-5 mb_5">
  <div class="container align-items-center">
    <div class="text-center mb-5">
      <h4  class="fw-bold text_primary mb-3">Details</h4>
    </div>
    <div class="row gap-3 justify-content-center">
      <div class="col-md-6 text-left text-sm-left border contact-card p-4">
        <div class="d-flex flex-column mb-2">
          <i class="fa-solid fa-calendar-days contact-icon"></i>
          <h4 class="text_primary">Booking Details</h4>
        </div>
        <div class="contact-text mb-3">
          <p class="text-secondary text-sm mb-3">
            Our rooms and halls are available on a first-come, first-served basis. Don't miss out on securing the perfect venue for your event.
          </p>
          <h6 class="text_primary">
            How to Book: 
          </h6>
          <ul>
            <li>
              <span class="text_primary fw-bold text-sm">In Person: </span>
              <span class="text-secondary text-sm">Visit our office to book directly</span>
            </li>
            <li>
              <span class="text_primary fw-bold text-sm">By Phone: </span>
              <span class="text-secondary text-sm">Call us at <a [href]="'tel:' + aboutDetail.bookingNumber" class="text_primary text-decoration-underline">{{ aboutDetail.bookingNumber }}</a> for more details and reservations.</span>
            </li>
          </ul>
        </div>
        <div class="float-end">
          <a href="/contact-us" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="col-md-5 text-left text-sm-left border contact-card p-4">
        <div class="d-flex flex-column mb-2">
          <i class="fas fa-map-marker-alt contact-icon"></i>
          <h5 class="text_primary">How to Reach</h5>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <iframe class="w-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3628.859032466161!2d73.69243407458963!3d24.559533057234457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3967ef9ca7d7f289%3A0xf44cc2fa1931c68!2sAgrawal%20Dharmshala!5e0!3m2!1sen!2sin!4v1713183809121!5m2!1sen!2sin"
               style="border:0;" allowfullscreen="" 
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="float-end">
          <a href="/contact-us" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- important message -->
  <div class="d-flex align-items-center justify-content-center mb_5 p-2">
    <div class="card shadow p-5 w_50 border-0 d-flex flex-md-row gap-4 align-items-center" style="background-color: #fff3cd;">
      <img src="/assets/Images/post-it.png" alt="post-it import note" class="post-it-icon">
      <div>
        <p class="fw-bold text_primary">Important Note: </p>
        <p>
          We do not have any other website or agency to book the rooms. Any bookings made by other than OM Bansal will
          be
          not volid and we will not be laible for it.
        </p>
      </div>
    </div>
  </div>

  <!-- management commettie -->
<div class="container-fluid pt-5 mb_5">
  <div class="container align-items-center">
    <div class="text-center mb-5">
      <h4 class="text-capitalize fw-bold mb-2 text_primary">Our Management Committee</h4>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 text-left text-sm-left p-4 gap-3" *ngFor="let item of data;">
        <div class="d-flex flex-column align-items-center">
          <div class="member-img">
            <i class="fa-solid fa-user-tie "></i>
          </div>
          <div class="member-info">
            <h4>{{ item.name }}</h4>
            <span>{{ item.memberType }}</span>
            <p class="text-sm m-0">{{ item.phone }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
