<div class="row d-flex justify-content-center py-3" style="background-color: #232323;  color: white;">
    <div class="col">
      <h3>Facilites</h3>
      <ul>
          <li>A/C, Non A/C Rooms</li>
          <li>Halls</li>
          <li>Kitchen</li>
          <li>Space for Parking</li>
          <li>Others</li>
      </ul>
    </div>
    <div class="col">
      <h3>Project</h3>
      <ul>
          <li>Medical Camp</li>
          <li>Help to School Students</li>
          <li>Moksha Rath</li>
          <li>Gas Based Funeral House</li>
          <li>Temple</li>
      </ul>
    </div>
    <div class="col">
      <h3>Follow Us</h3>
      <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Google+</li>
          <li>Email</li>
          <li>Print</li>
      </ul>
    </div>
    <div class="col">
      <h3>Contact Us</h3>
      <ul>
          <li>Email: ombansalshivshakti '' gmail.com</li>
          <li>Phone: 0294 3570163</li>
          <li>Adress: Hiralal Agrawal Marg, Hiran Magri Sector-11,
              Udaipur-313001 (Raj.)</li>
          
      </ul>
    </div>
  </div>
<div class="row text-center py-3" style="background-color: #333; color: white;">
    <span>© Copyright 2013|AGRAWAL DHARMSHALA, UDAIPUR</span>
</div>