<div class="row d-flex justify-content-center py-3" style="background-color: #232323;  color: white;">
    <div class="col">
      <h3>Facilites</h3>
      <ul *ngFor="let item of topFourFacility">
        <li>{{item}}</li>
      </ul>
    </div>
    <div class="col">
      <h3>Project</h3>
      <ul *ngFor="let item of topFourProject">
          <li>{{item}}</li>
      </ul>
    </div>
    <div class="col">
      <h3>Follow Us</h3>
      <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Google+</li>
          <li>Email</li>
          <li>Print</li>
      </ul>
    </div>
    <div class="col">
      <h3>Contact Us</h3>
      <ul >
          <li>Email: {{aboutDetail.trustEmailId}}</li>
          <li>Phone: {{aboutDetail.trustPhoneNumber}}</li>
          <li>Adress: {{aboutDetail.trustAddress}}</li>
          
      </ul>
    </div>
  </div>
<div class="row text-center py-3" style="background-color: #333; color: white;">
    <span>© Copyright 2013|AGRAWAL DHARMSHALA, UDAIPUR</span>
</div>