<app-user-nav></app-user-nav>
<app-logo></app-logo>
<div class="container my-5" >
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <h4>Facilities</h4>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <td>Room</td>
                        <td>Tariff</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td>Halls</td>
                        <td>Tariff</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td>Kitchen</td>
                        <td>Tariff</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td>Space for Parking</td>
                        <td>Tariff</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">Double Bed A/C Rooms, Attached Bathrooms,LCD TV.</a>
                        </td>
                        <td>Rs. 750 /- Per Room Per Day</td>
                    </tr>
                </tbody>
            </table>


            

        </div>
        <br>
        <br>
        <div class="row">
            <h5>Others</h5>
            <p>It is an Ideal Place for Merriage. Packages are Available for Details Contact Manager.</p>
        </div>

        <div class="row">
            <h5>Provisions</h5>
            <p>100% Power backup available. Noiseless DG Set is available in case of power failure. The charges for diseal is Rs. 1600 /- Per hour.</p>
            <p>People Staying in A/C Double Bed Room are Provided Towel, Soap etc.</p>
            <p>Vehicles can be parked safely in parking space.</p>
            <p>Special Rates for Groups of School, College Student Available.</p>

        </div>

        <div class="row">
            <h5>For booking contact :-</h5><br>
            <h5>Om Bansal / Agrawal :- +91 9829040849</h5>
        </div>
       
      
      </div>
    </div>

  
    
</div>


<app-footer></app-footer>