<div class="container">
    <div class="row d-flex justify-content-end">
        <a class="btn group-btn col-3 align-right" routerLink="/add-projects"><i class="bi bi-plus-lg"></i> Add Projects</a>
    </div>
    <div class="row p-5">
        <div class="col">
            <table class="table shadow-lg p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hospital</td>
                    <td>
                        <img src="" alt="Service-Image">
                    </td>
                    <td>
                        <div style="width: 200px; height: 100px; overflow: hidden;">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officiis voluptatibus dolor. Ratione vitae, quod dolore dolorem molestiae eaque minima corporis quo voluptatibus adipisci alias ea assumenda, animi ipsum fuga.</span>
                        </div>
                        
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Dharmshala</td>
                    <td>
                        <img src="" alt="Service-Image">
                    </td>
                    <td>
                        <div style="width: 200px; height: 100px; overflow: hidden;">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officiis voluptatibus dolor. Ratione vitae, quod dolore dolorem molestiae eaque minima corporis quo voluptatibus adipisci alias ea assumenda, animi ipsum fuga.</span>
                        </div>
                        
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                 
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
