<div class="container">
    <div class="row d-flex justify-content-end">
        <a class="btn group-btn col-3 align-right" routerLink="/member-form"><i class="bi bi-person-plus-fill"></i> Add Memmber</a>
    </div>
    <div class="row p-5">
        <div class="col">
            <table class="table shadow-lg p-3 mb-5 bg-white rounded">
               <thead>
                    <tr >
                        <th scope="col" >No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                     </tr>
                 </thead>
            
                <tbody class="mt-3">
                  <tr *ngFor="let item of data; let indexOfelement=index;">
                    <th scope="row">{{indexOfelement+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.memberType}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" (click)="deleteMemberRecord(item.id)">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                  
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
