<div class="container">
    <div class="row d-flex justify-content-end">
        <a class="btn btn-primary col-3 align-right"><i class="bi bi-person-plus-fill"></i> Add Memmber</a>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Reepu</td>
                    <td>Head</td>
                    <td>8968714109</td>
                    <td>abcjdgmail.com</td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Kanishk</td>
                    <td>Senior</td>
                    <td>8968714109</td>
                    <td>abcjdgmail.com</td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Anamika</td>
                    <td>Garib</td>
                    <td>8968714109</td>
                    <td>abcjdgmail.com</td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-warning">Edit</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger">Delete</a>
                            </div>
                            
                        </div>
                    </td>
                    
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
