<div class="container">
    <div class="row">
        <h3>Trust Information</h3>
    </div>
    
    <div class="row">
        <form #aboutform="ngForm" (ngSubmit)="editAboutDetails(aboutDetail.id,aboutform.value)">
            <div class="row d-flex">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="trustEmailId" class="form-label">Email Id</label>
                        <input type="text" class="form-control" id="trustEmailId" name="trustEmailId" placeholder="Email Id" value="{{aboutDetail.trustEmailId}}" ngModel>
                    </div>

                    <div class="mb-3">
                        <label for="trustPhoneNumber" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="trustPhoneNumber" name="trustPhoneNumber" placeholder="Phone" value="{{aboutDetail.trustPhoneNumber}}" ngModel >
                    </div>

                    <div class="mb-3">
                        <label for="trustAddress" class="form-label">Address</label>
                        <input type="text"  class="form-control" id="trustAddress" name="trustAddress" placeholder="address" value="{{aboutDetail.trustAddress}}" ngModel >
                    </div>

                    <div class="mb-3">
                        <label for="bookingNumber" class="form-label">Bokking Number</label>
                        <input type="text" class="form-control" id="bookingNumber" name="bookingNumber" placeholder="bookingNumber" value="{{aboutDetail.bookingNumber}}" ngModel>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn" style="background-color: #F3486A; color: white;">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>  
