<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3>Add Facility</h3>
            <form #facilityForm="ngForm" (ngSubmit)="OnSubmitFacility(facilityForm.value)">
                <div class="mb-3">
                    <label for="facility" class="form-label">Facility</label>
                    <input type="text" name="facilityName" class="form-control" id="facility" aria-describedby="emailHelp" ngModel>
                </div>

                <div class="mb-3">
                    <label for="fees" class="form-label">Fees</label>
                    <input type="text" name="fees" class="form-control" id="fees" aria-describedby="emailHelp" ngModel>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Image</label>
                  <input type="file" name="image" class="form-control" id="image" aria-describedby="emailHelp" ngModel>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" cols="30" rows="5" class="form-control" ngModel></textarea>
                </div>
                
                <button type="submit" class="btn submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>