<div class="container">
    <div class="row d-flex">
        <h3 style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Top Features</h3>
        <div class="col-1">
            <a class="btn group-btn">Member</a>
        </div>
        <div class="col-1">
            <a class="btn group-btn">Facility</a>
        </div>
        <div class="col-1">
            <a class="btn group-btn">Gallery</a>
        </div>
        <div class="col-1">
            <a class="btn group-btn">Projet</a>
        </div>
    </div>
    
    <div class="row d-flex d-flex justify-content-around mt-3">
        <h3 style="color: #494848;">Record</h3>
        <div class="col-3  ps-5 py-5 border card-1 rounded-3 ">
            <div class="row">
                card
            </div>
           
        </div>

        <div class="col-3 ps-5 py-5 border card-2 rounded-3">
            <div class="row">
                card
            </div>
           
        </div>
        <div class="col-3 ps-5 py-5 border card-3 rounded-3">
            <div class="row">
                card
            </div>
           
        </div>
        
       
    </div>

    <div class="row m-5 border rounded-3 py-5" style="border: #FAFAFA;">

        <h1>graph</h1>
    </div>
    
</div>
